body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}

#container {
    width: 100%;
    height: 100%;
}

#mapid {
    width: 80%;
    height: 100%;
    float: left;
    z-index: 0
}

#controls {
    width: 20%;
    height: 100%;
    float: right;
    z-index: 0;
}

.controlItem {
    width: 100%;
    padding: 5px;
}

.controlItem button {
    border: 2px solid #444444;
    padding: 5px;
    background-color: white;
    color: #444444;
}

.controlItem button:hover {
    background-color: #444444;
    color: white;
}

#contextmenu {
    visibility: hidden;
    position: fixed;
    background-color: white;
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 5px #444444;
    width: 100px;
}

.contextMenuButton {
    width: 100%;
    color: #444444;
    background-color: white;
    border: 0px solid white;
    padding: 10px;
}

.contextMenuButton:hover {
    background-color: #dddddd;
}

#barList ul {
    list-style: none;
}

#barList li {
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

#barList li button:hover {
    color: #800000;
    font-style: bold;
    background-color: white;
}

#tagList {
    list-style-type: none;
}

#tagList li {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}